@{
    ViewBag.Title = "About";
}




    <div class="container">
        <div class="soc_details_head" id="heading"></div>
        <div class="info_body" @*style="overflow: auto;"*@>
            <div id="ORIC">
                <h3 style="text-align:center;">About ORIC </h3>
                <hr />

                <div class="row">
                    <div class="col-md-4">
                       
                        <img src="~/wwwroot/Image/oric/ORICLOGOFINAL.png" alt="ORIC" style="height: 150px; margin-left: 100px;" />
                    </div>
                    <div class="col-md-8" style="margin-top:30px;" >
                        <h1>
                            <strong>
                                Office of Research,<br />
                                Innovation and
                                <br />
                                Commercialization
                            </strong>

                        </h1>

                    </div>
                </div>

                <h4 style="margin-top:30px;">
                    Introduction:
                </h4>
                <ul class="para" style="margin-top:30px;">
                    <li>
                        Office of Research Innovation and Commercialization, University of Sialkot (ORIC-USKT)
                        is located in a highly industrialized and innovative region called “Golden Triangle”. The
                        famous industrial cities include Sialkot, Gujranwala, Gujrat and other small industrial
                        cities. The golden triangle contributes more than 04 billion PKR (around 20%) in Pakistan
                        exports. The region is also well connected with international market and has its own
                        airport and dry-port.


                    </li>
                    <li>
                        ORIC USKT envisions to emerge as an innovation hub for the region. ORIC USKT aims to
                        connect its faculty and students with existing industries, facilitate new venture creation by
                        faculty and students and commercialize USKT potential research. ORIC USKT will be a
                        central place to connect academia and R&amp;D institutions with industry and Government for
                        technology exchange. ORIC USKT will increase efficiency in the processes of existing
                        business, enhance social mobilization and development, connect society with state and
                        contribute to increase export and improved quality life.
                    </li>

                </ul>

                <br />

            </div>
        </div>
    </div>
