
@{
    ViewBag.Title = "BusinessIncubationCentre";
}



<div class="container ">
    <div class="soc_form">
        <div class="soc_details_head" id="heading"></div>
        <div class="info_body" style="overflow: auto;">
            <div id="BusinessIncubatingCenter">
                <h3 style="text-align:center">Business Incubating Center </h3>
                <hr />
                <p>
                    The HEC supports the establishment of Business Incubation Centre's (BIC) in public sector universities to provide basic infrastructure and allied facilities for researchers and young entrepreneurs who are interested in developing early-stage business ventures. A business incubator's main goal is to produce successful firms that will leave the program financially viable and freestanding.
                </p>
                <br />
                <p>
                    Business Incubators are companies which support new and startup companies in their initial development stage by providing an array of targeted resources and services. These services are developed or arranged by the business incubator and offered by it directly or through its network of contacts. Graduates of the business incubator program create jobs, revitalize neighborhoods, commercialize new technologies, and strengthen local and national economies. Instead of creating job seekers we are turning new graduates into job providers.
                </p>
                <br />
                <p>
                    By integrating students, entrepreneurs, and universities, business incubators have the most significant impact on the economy when they are tied to universities. Therefore, initiatives have been taken to pair incubators with local universities.
                </p>
                <br />
                The Objectives are summarized as:
                <ol>
                    <li>
                        Promotion of Entrepreneurship/self-employment among Youth
                    </li>
                    <li>
                        Commercialization of viable research stemming from University
                    </li>
                    <li>
                        Closer linkages between Industry-Academia
                    </li>
                    <li>
                        Contribute to economic growth by employment generation and creation of small and medium start-up Companies
                    </li>
                </ol>

                <br />
                <br />
                <strong>
                    Incubator Structure:
                </strong>
                <p>
                    Incubator will have the following staff and they will be responsible for the operations of the incubator.
                </p>
                <ol>
                    <li>
                        Director
                    </li>
                    <li>
                        Incubator Manager
                    </li>
                    <li>
                        IT/Admin Assistant
                    </li>
                    <li>
                        Receptionist
                    </li>
                    <li>
                        Office Boy
                    </li>
                    <li>
                        Janitor
                    </li>
                    <li>
                        Security Guard
                    </li>
                </ol>
                <br />
                <strong>
                    Physical Infrastructure:
                </strong>

                <p>
                    Incubates will be provided well-furnished offices. All offices will be ready-to-use and come with hassle-free services, including:
                </p>

                <ol>
                    <li>
                        Reception services
                    </li>
                    <li>
                        Shared meeting rooms
                    </li>
                    <li>
                        Dedicated internet access
                    </li>
                    <li>
                        Business Centre services
                    </li>
                </ol>


            </div>
        </div>
    </div>
</div>