@{
    ViewBag.Title = "Contact";
}



    <div class="container">
        <div class="soc_details_head" id="heading"></div>
        <div class="info_body" style="overflow: auto;">
            <div id="Contact">
                <h3 style="text-align:center">@ViewBag.Title </h3>
                <hr />
                <h4 class="text-center">
                    <strong>Mr. Rahmat Ullah</strong>
                    <br />
                    Director
                    <br />
                    Office of Research, Innovation and Commercialisation
                    <br />
                    Email: director@oric.uskt.edu.pk , oric@uskt.edu.pk
                    <br />
                    Mobile No. +923107771456
                    <br />
                    Phone: 052-3575518
                </h4>
            </div>
        </div>
    </div>
