@model IEnumerable<WebApplication9.Models.Class.AdmissionContext.tblOricEvent>
@{
    ViewBag.Title = "Event";
}




<div class="container">

    <div class="row col-md-12">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 style="text-align:center;">Events </h3>
            <hr />
            <table class="table table-responsive table-bordered display responsive nowrap"  id="table_id">
                <thead>
                    <tr class="label-primary">
                        <th style="width:100px">
                            Sr.No
                        </th>
                        <th>
                            Event Date
                        </th>
                        <th>
                            Event Detail
                        </th>
                    </tr>
                </thead>
                <tbody>
        @foreach (var item in Model) {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.eventDate.Date)
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.eventDetail)
                            
                        </td>
                    </tr>
}
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>


    </div>

</div>
