

    <div class="container">
        <div class="soc_details_head" id="heading"></div>
        <div class="info_body" style="overflow: auto;">
            <div id="TheMessageofDirectorORIC">
                <h3 style="text-align:center;">The Message of Director ORIC </h3>
                <hr />
                <div class="user col-md-12">
                    <div class="user_image text-center" style="margin-top: 2rem;">

                        <img src="~/wwwroot/Image/Main/rematullah.png" style="height: 250px; width: 250px; border-radius: 50%" />
                    </div>
                    <div class="user_text pb-3" style="margin-top: 2rem;">
                        <p class="mbr-fonts-style display-7">
                            ORIC USKT is strategically located in the golden triangle consists of large number of industries.
                            We will develop our capacity to connect USKT research outputs with the needs of industries and
                            society located in the golden triangle. We have already prioritized our areas of research
                            according SDGs. We have selected three SDGs to initially work on and contribute. One SDG is
                            related to industrial efficiency and productivity improvement. Other two are related to the
                            environment and social uplift of community.
                            <br />
                            <strong>
                                To promote research, innovation, entrepreneurship and commercialization
                            </strong>
                            We invite industries and communities to consider ORIC USKT as central point for their
                            development and productivity improvement. We can house various development projects and
                            become your venue for interaction and exchange.
                            <br />
                            ORIC USKT is fully committed to contribute in the development of the region and look forward
                            for collaboration of stakeholders.
                        </p>
                    </div>
                    <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">Director Research, Innovation & Commercialization </div>
                    <div class="user_desk mbr-light mbr-fonts-style display-7">
                        MR. Rahmat Ullah

                    </div>
                    <br />
                    <hr />
                    <br />
                    <div class="user_text pb-3">
                        <h3 style="">Director's Profile</h3>
                        <p class="mbr-fonts-style display-7">
                            Mr. Rahmat started his career in his family business and initiated many small ventures in wood
                            works, rent-a-material and trading. Mr. Rahmat serves Institute of Research Promotion, South
                            Asia Triple Helix Association and ORIC, University of Sialkot at the leading positions. He also
                            serves SIG on Innovation Systems and Models at International Triple Helix Association. He is
                            regular author on technology and innovation, entrepreneurship and S&T policy. He has
                            developed many S&T ventures to promote science and technology commercialization.
                        </p>
                        <p class="mbr-fonts-style display-7">
                            Mr. Rahmat is a research scholar in management with specialized focus on innovation and
                            technology development. Mr. Rahmat moved into management profession by setting up own
                            enterprise, managing marketing and doing sales for national firms. After management and
                            business administration education, he joined research organization-IRP to promote R&amp;D culture
                            in Pakistan. Mr. Rahmat has published in academic journals and presented many papers in
                            national and international conferences. He has diversified experience of providing trainings,
                            managing survey projects, developing online portals, initiating academic publishing and
                            executing funded projects of development nature.
                        </p>
                        <p class="mbr-fonts-style display-7">
                            He has the credit of introducing numbers of research software in Pakistan, developing many
                            training modules of research methods and training research scholars in Pakistan and abroad. He
                            is also the focal person for university- industry linkages where he successfully launched a
                            collaborative R&D promotion program with state-run R&D organizations, chambers of
                            commerce and industries, business associations and industrial groups all over the Pakistan. He
                            has managed development of number of technologies and initiated many industries-driven
                            projects in the universities of Pakistan.
                        </p>
                        <p class="mbr-fonts-style display-7">
                            Mr. Rahmat is listed NIVOV trainer and doing training for last five years. He is a regular trainer
                            in research methods and consultant for innovation and technology development for academia,
                            industry and R&D organizations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
