
<div class="container">
    <div class="soc_details_head" id="heading"></div>
    <div class="info_body" style="overflow: auto;">
        <div id="Role">
            <h3 >Role of ORIC </h3>
            <hr />
            <ul class="para">
                <li>
                    Supporting the strategic research directions and policies of universities
                </li>
                <li>
                    Improving integration of research and education at all levels of the institution
                </li>
                <li>
                    Increasing and diversifying external research funding
                </li>
                <li>
                    Improve recruitment and retention of the top faculty Translating research for the public's benefit
                </li>
                <li>
                    Improving and strengthening university-industry relationships
                </li>
                <li>
                    Promoting entrepreneurship, technology-transfer and commercialization activities which improve and support the economy
                </li>
                <li>
                    Promoting and improve multi-disciplinary research initiatives
                </li>

            </ul>
            <br />
            <ul>
                <li>
                    <strong>
                        Development of Incubation Center
                    </strong>
                    <br />
                    <p>
                        ORIC has remained in touch with each individual and trying to solve his / her problems regarding research activities, lab instruments, chemicals, other aids, interdisciplinary collaboration, business plan and entrepreneurial activities, collaborations with others business plan and entrepreneurship activities.
                    </p>
                </li>
            </ul>
        </div>

    </div>
</div>