
<div class="container">
    <div class="soc_details_head" id="heading"></div>
    <div class="info_body">
        <div id="Team">
            <h3 style="text-align:center">
                <center>Team </center>
            </h3>
            <hr />
         
            <div class="col-md-12 col-xs-12">
                <div class="row" @*style="text-align-last: center;"*@>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="padding:20px;">
                        <div class="card border shadow">
                            <div class="center">
                                <img src="~/wwwroot/Image/assets/reehan2-390x380.jpg" class="card-img-top img-responsive " alt="..." style="margin-top: 10px; margin-left: 35px; height: 250px; width: 250px; border-radius: 50%;" />
                            </div>
                                <div class="card-body text-center">
                                <h5 class="card-title mb-0"><strong> MUHAMMAD REHAN YOUNUS</strong></h5>
                                <div class="card-text text-black-50">Executive Director USKT</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4"></div>
                    <!-- Team Member 1 -->
                    <div class="col-lg-12 col-md-6 col-xs-4 text-center" style="margin: 5px; padding: 5px;">

                    </div>

                </div>
            </div>

            
            <div class="col-md-12 col-xs-12">
                <div class="row" style="  text-align-last: center;">
                    <div class="col-lg-6 col-md-offset-1 " style="padding:20px;">
                        <div class="card border-0 shadow">

                           
                            <img src="~/wwwroot/Image/Main/rematullah.png"  class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 120px; height: 250px; width: 250px; border-radius: 50%;" />
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Mr. Rahmat Ullah</strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;"> Director ORIC</div>

                            </div>
                        </div>

                    </div>
                    
                    <div class="col-lg-6 col-md-offset-2" style="padding:20px;">
                        <div class="card border-0 shadow">
                            
                            <img src="~/wwwroot/Image/oric/oricdar.png"  class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 120px; height: 250px; width: 250px; border-radius: 50%;" />
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Prof. Dr. Aslam Dar</strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;"> Chairman Industrial Advisory Board</div>

                            </div>
                        </div>

                    </div>
                   
                     <div class="col-lg-12 col-md-6 col-xs-4 text-center" style="margin: 5px; padding: 5px;">

                    </div>

                </div>
            </div>

         
            <div class="col-md-12 col-xs-12">
                <div class="row" style="    text-align-last: center;">
                    <div class="col-lg-4" style="padding:20px;">
                        <div class="card border-0 shadow">
                            <img src="~/wwwroot/Image/oric/oricsaleem.png" class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 35px; height: 250px; width: 250px; border-radius: 50%;" />
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Ms. Rukhshanda Saleem</strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;">
                                    Manager Intellectual Property <br />
                                    Legal Services
                                </div>

                            </div>
                        </div>

                    </div>
                    
                    <div class="col-lg-4 " style="padding:20px;">
                        <div class="card border-0 shadow">
                            <img src="~/wwwroot/Image/oric/raheel.jpg" class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 35px; height: 250px; width: 250px; border-radius: 50%;" />
               
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Mr. Rahail Ashraf</strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;">Manager University Industry Linkages and Technology Transfer</div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 " style="padding:20px;">
                        <div class="card border-0 shadow">
                            <img src="~/wwwroot/Image/oric/rehana.jpg" class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 35px; height: 250px; width: 250px; border-radius: 50%;" />
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Ms. Rehana John</strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;">Manager Research Operations & Development</div>

                            </div>
                        </div>

                    </div>
                    <!-- Team Member 1 -->
                      <div class="col-lg-12 col-md-6 col-xs-4 text-center" style="margin: 5px; padding: 5px;">

                    </div>

                </div>
            </div>


           
            <div class="col-md-12 col-xs-12">
                <div class="row" style="    text-align-last: center;">
                    <div class="col-lg-4" style="padding:20px;">
                        <div class="card border-0 shadow">
                            <img src="~/wwwroot/Image/oric/faiz(1).jpg"  class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 35px; height: 250px; width: 250px; border-radius: 50%;" />
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Mr.Malik Faiz Rasool </strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;">
                                    Publication/Communication Specialist
                                </div>

                            </div>
                        </div>

                    </div>
                    
                    <div class="col-lg-4 " style="padding:20px;">
                        <div class="card border-0 shadow">
                            <img src="~/wwwroot/Image/Main/empty-profile.jpg"  class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 35px; height: 250px; width: 250px; border-radius: 50%;" />
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Ms. Zainab Parvaiz </strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;">Research Associate</div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 " style="padding:20px;">
                        <div class="card border-0 shadow">
                            <img src="~/wwwroot/Image/Main/anas.jpg" class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 35px; height: 250px; width: 250px; border-radius: 50%;" />
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Mr. Muhammad Anas </strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;">Accountant</div>

                            </div>
                        </div>

                    </div>
                    <!-- Team Member 1 -->
                      <div class="col-lg-12 col-md-6 col-xs-4 text-center" style="margin: 5px; padding: 5px;">

                    </div>

                </div>
            </div>

           
            <div class="col-md-12 col-xs-12">
                <div class="row" style="    text-align-last: center;">
                    <div class="col-lg-4" style="padding:20px;">
                        <div class="card border-0 shadow">
                            <img src="~/wwwroot/Image/Main/qasim.jpg" class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 35px; height: 250px; width: 250px; border-radius: 50%;" />
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Mr. Qasim Ali </strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;">
                                    Administrative Assistant
                                </div>

                            </div>
                        </div>

                    </div>
                    
                    <div class="col-lg-4 " style="padding:20px;">
                        <div class="card border-0 shadow">
                            <img src="~/wwwroot/Image/oric/yaseen (1).jpg" class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 35px; height: 250px; width: 250px; border-radius: 50%;" />
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Mr. Muhammad Yaseen </strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;">Administrative Assistant</div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 " style="padding:20px;">
                        <div class="card border-0 shadow">
                            <img src="~/wwwroot/Image/oric/nasra.jpg"  class="card-img-top img-responsive" alt="..." style="margin-top: 10px; margin-left: 35px; height: 250px; width: 250px; border-radius: 50%;" />
                            <div class="card-body text-align:center;">
                                <h5 class="card-title mb-0" style="text-align:center;"><strong>Ms. Nasra Qurban </strong> </h5>
                                <div class="card-text text-black-50" style="text-align:center;">Administrative Assistant</div>

                            </div>
                        </div>

                    </div>
                    <!-- Team Member 1 -->
                       <div class="col-lg-12 col-md-6 col-xs-4 text-center" style="margin: 5px; padding: 5px;">

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>