
<div class="container">
    <div class="soc_details_head" id="heading"></div>
    <div class="info_body" >
        <div id="VisionandObjective">
            <h3 class="text-center">Vision and Objective </h3>
            <hr />
            <div>
                <h3 class="">
                    <strong>
                        Vision
                    </strong>
                </h3>
                <br />

                <p>
                    The office's vision is to enhance competitiveness of golden triangle through collaborative academic inputs.
                </p>

            </div>
            <br />
            <br />
           
                <h3>
                    <strong>
                        Mission
                    </strong>
                </h3>
                <br />
                <ul>
                    <li>
                        <p>
                            By involving faculty and students to improve existing businesses and create new ventures.
                        </p>
                    </li>
                    <li>
                        <p>
                            By promoting culture of triple helix working in the region.
                        </p>
                    </li>
                    <li>
                        <p>
                            By connecting region with national and international innovation expertise and potential.
                        </p>
                    </li>
                </ul>


      


            <br />
            <br />
            <div>
                <h3>
                    <strong>
                        Objective
                    </strong>
                </h3>
                <ul>
                    <li>
                        To promote research, entrepreneurship and social service in USKT
                    </li>
                    <li>
                        To commercial USKT research and technologies
                    </li>
                    <li>
                        To connect R&amp;D stakeholder of the region for collaborative interventions
                    </li>
                    <li>
                        To serve for increased industrialization and export of golden triangle
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>