<footer>
    <div class="kingster-footer-wrapper ">
        <div class="kingster-footer-container kingster-container clearfix">
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="text-2" class="widget widget_text kingster-widget">
                    <div class="textwidget">
                        <p>

                            <img src="~/wwwroot/Image/oric/ORICLOGOFINAL_100x100.png" />
                           
                            <br /> <span class="gdlr-core-space-shortcode" id="span_1dd7_10"></span>
                            <br /> Box 51310
                            <br /> University of Sialkot
                            <br /> Bothell, WA 98011-8246
                        </p>
                        <p>
                            <span id="span_1dd7_11">+1-2534-4456-345</span>
                            <br /> <span class="gdlr-core-space-shortcode" id="span_1dd7_12"></span>
                            <br /> <a id="a_1dd7_8" href="mailto:admin@kingsteruni.edu">admin@kingsteruni.edu</a>
                        </p>
                        <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_111"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-2" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Our Campus</h3><span class="clear"></span>
                    <div class="menu-our-campus-container">
                        <ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li class="menu-item"><a href="#">Acedemic</a></li>
                            <li class="menu-item"><a href="#">Planning &#038; Administration</a></li>
                            <li class="menu-item"><a href="#">Campus Safety</a></li>
                            <li class="menu-item"><a href="#">Office of the Chancellor</a></li>
                            <li class="menu-item"><a href="#">Facility Services</a></li>
                            <li class="menu-item"><a href="#">Human Resources</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-3" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Campus Life</h3><span class="clear"></span>
                    <div class="menu-campus-life-container">
                        <ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li class="menu-item"><a href="#">Accessibility</a></li>
                            <li class="menu-item"><a href="#">Financial Aid</a></li>
                            <li class="menu-item"><a href="#">Food Services</a></li>
                            <li class="menu-item"><a href="#">Housing</a></li>
                            <li class="menu-item"><a href="#">Information Technologies</a></li>
                            <li class="menu-item"><a href="#">Student Life</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                <div id="gdlr-core-custom-menu-widget-4" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                    <h3 class="kingster-widget-title">Academics</h3><span class="clear"></span>
                    <div class="menu-academics-container">
                        <ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li class="menu-item"><a href="#">Canvas</a></li>
                            <li class="menu-item"><a href="#">Catalyst</a></li>
                            <li class="menu-item"><a href="#">Library</a></li>
                            <li class="menu-item"><a href="#">Time Schedule</a></li>
                            <li class="menu-item"><a href="#">Apply For Admissions</a></li>
                            <li class="menu-item"><a href="#">Pay My Tuition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="kingster-copyright-wrapper">
        <div class="kingster-copyright-container kingster-container clearfix">
            <div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2021, University of Sialkot</div>
            <div class="kingster-copyright-right kingster-item-pdlr">
                <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_1dd7_112">
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype">
                        <i class="fa fa-skype"></i>
                    </a>
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
