

<header class="kingster-header-wrap kingster-header-style-plain  kingster-style-menu-right kingster-sticky-navigation kingster-style-fixed" data-navigation-offset="75px">
    <div class="kingster-header-background"></div>
    <div class="kingster-header-container  kingster-container">
        <div class="kingster-header-container-inner clearfix">
            <div class="kingster-logo  kingster-item-pdlr">
                <div class="kingster-logo-inner">

                    <a class="" href="/Home/Index"><img src="~/wwwroot/Image/oric/ORICLOGOFINAL_100x100.png" /></a>
                </div>
            </div>
            <div class="kingster-navigation kingster-item-pdlr clearfix ">
                <div class="kingster-main-menu" id="kingster-main-menu">
                    <ul id="menu-main-navigation-1" class="sf-menu">
                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/OricCOVID/Home" class="sf-with-ul-pre">Home</a>
                        </li>
                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/OricCOVID/Index" class="sf-with-ul-pre">Covid 19</a>
                        </li>
                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/OricModalPopup/Index" class="sf-with-ul-pre">Pop Up</a>

                        </li>
                        <li class="menu-item  menu-item-has-children kingster-normal-menu">
                            <a href="/SliderImgs/Index" class="sf-with-ul-pre">Slider</a>
                            <ul class="sub-menu">
                                <li class="menu-item" data-size="60"><a href="/SliderImgs/Create">Add New Slider</a></li>


                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/OricMous/Index" class="sf-with-ul-pre">MOU Signed</a>
                            <ul class="sub-menu">

                                <li class="menu-item" data-size="60"><a href="/OricMous/Create">Add New MOU Signd</a></li>

                            </ul>


                        </li>
                        <li class="menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/OricEvents/Index" class="sf-with-ul-pre">Event</a>
                            <ul class="sub-menu">

                                <li class="menu-item" data-size="60"><a href="/OricEvents/Create">Add New Event</a></li>

                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/ActivitySheet/Index" class="sf-with-ul-pre">Activity sheet</a>

                        </li>
                        <li class="menu-item kingster-normal-menu"><a href="/scholarship/Index">Opportunities</a></li>
                        <li class="menu-item kingster-normal-menu"><a href="/FundAgencies/Index">Funding Agencies</a></li>
                        <li class="menu-item kingster-normal-menu"><a href="/Detail/Index">Downloads</a></li>
                        <li class="menu-item kingster-normal-menu"><a href="/forumcenter/Index">Forum & Centre</a></li>
                        <li class="menu-item kingster-normal-menu"><a href="/OricPublication/Index">Publications</a></li>
                        <li class="menu-item kingster-normal-menu">
                            <a href="/OricResearchProjects/Index">Research Projects</a>
                            <ul class="sub-menu">

                                <li class="menu-item" data-size="60"><a href="/OricResearchProjectsHead/Create">Research Project Head</a></li>
                                <li class="menu-item" data-size="60"><a href="/OricResearchProjects/Create">Research Project</a></li>

                            </ul>

                        </li>
                        <li class="menu-item kingster-normal-menu"><a href="/FundAgencies/Index">Logout</a></li>
                    </ul>
                    <div class="kingster-navigation-slide-bar" id="kingster-navigation-slide-bar"></div>
                </div>
                <div class="kingster-main-menu-right-wrap clearfix ">
                    <div class="kingster-main-menu-search" id="kingster-top-search"><i class="icon_search"></i></div>
                    <div class="kingster-top-search-wrap">
                        <div class="kingster-top-search-close"></div>
                        <div class="kingster-top-search-row">
                            <div class="kingster-top-search-cell">
                                <form role="search" method="get" class="search-form" action="#">
                                    <input type="text" class="search-field kingster-title-font" placeholder="Search..." value="" name="s">
                                    <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                    <input type="submit" class="search-submit" value="Search">
                                    <div class="kingster-top-search-close"><i class="icon_close"></i></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>