
<header class="kingster-header-wrap kingster-header-style-plain  kingster-style-menu-right kingster-sticky-navigation kingster-style-fixed" data-navigation-offset="75px">
    <div class="kingster-header-background"></div>
    <div class="kingster-header-container  kingster-container">
        <div class="kingster-header-container-inner clearfix">
            <div class="kingster-logo  kingster-item-pdlr">
                <div class="kingster-logo-inner">
                    
                    <a class="" href="index.html"><img src="~/wwwroot/Image/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="kingster-navigation kingster-item-pdlr clearfix ">
                <div class="kingster-main-menu" id="kingster-main-menu">
                    <ul id="menu-main-navigation-1" class="sf-menu">
                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/Home/Index" class="sf-with-ul-pre">Home</a>
                        </li>
                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/Home/About" class="sf-with-ul-pre">About ORIC</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-home" data-size="60"><a href="/Home/MsgOfOricDirector">The Message of Director</a></li>
                                <li class="menu-item" data-size="60"><a href="/Home/RoleOfOric">Role Of ORIC</a></li>
                                <li class="menu-item" data-size="60"><a href="/Home/VisionandObject">Vision & Objective</a></li>
                                <li class="menu-item" data-size="60"><a href="/Home/Team">Team</a></li>
                                <li class="menu-item" data-size="60"><a href="/Home/Contact">Contact</a></li>

                            </ul>
                        </li>
                        <li class="menu-item  menu-item-has-children kingster-normal-menu">
                            <a href="/Home/Event" class="sf-with-ul-pre">Event</a>
                            <ul class="sub-menu">
                                <li class="menu-item" data-size="60" ><a href="/Home/MOUsigned">MOU Signed by USKT</a></li>
                                <li class="menu-item" data-size="60" >
                                    <a href="/Home/Seminar">Seminar</a>

                                </li>

                                <li class="menu-item " data-size="60">
                                    <a href="/Home/Worksop">Worksop</a>

                                </li>

                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/Home/Research" class="sf-with-ul-pre">Research</a>
                            <ul class="sub-menu">
                                <li class="menu-item" data-size="60"><a href="/Home/TravelGrants">Travel Grants</a></li>
                                <li class="menu-item menu-item-has-children" data-size="60">
                                    <a href="/Home/Projects" >Projects</a>

                                </li>
                                <li class="menu-item menu-item-has-children" data-size="60" >
                                    <a href="/Home/FundingOpportunities">Funding Opportunities</a>

                                </li>
                                <li class="menu-item menu-item-has-children" data-size="60" >
                                    <a href="/Home/Publications" >Publications</a>

                                </li>
                                <li class="menu-item menu-item-has-children" data-size="60" >
                                    <a href="/Home/Scholarships" >Scholarships</a>

                                </li>
                            </ul>
                        

                        </li>
                        <li class="menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/Home/ForumsCenter" class="sf-with-ul-pre">Forums & Center</a>
                            
                        </li>
                        <li class="menu-item menu-item-has-children kingster-normal-menu">
                            <a href="/Home/Downloads" class="sf-with-ul-pre">Downloads</a>
                         
                        </li>
                        <li class="menu-item kingster-normal-menu"><a href="/Home/BusinessIncubationCentre">Business Incubation Centre</a></li>

                    </ul>
                    <div class="kingster-navigation-slide-bar" id="kingster-navigation-slide-bar"></div>
                </div>
                <div class="kingster-main-menu-right-wrap clearfix ">
                    <div class="kingster-main-menu-search" id="kingster-top-search"><i class="icon_search"></i></div>
                    <div class="kingster-top-search-wrap">
                        <div class="kingster-top-search-close"></div>
                        <div class="kingster-top-search-row">
                            <div class="kingster-top-search-cell">
                                <form role="search" method="get" class="search-form" action="#">
                                    <input type="text" class="search-field kingster-title-font" placeholder="Search..." value="" name="s">
                                    <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                    <input type="submit" class="search-submit" value="Search">
                                    <div class="kingster-top-search-close"><i class="icon_close"></i></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>