
<div class="kingster-mobile-header-wrap">
    <div class="kingster-mobile-header kingster-header-background kingster-style-slide kingster-sticky-mobile-navigation " id="kingster-mobile-header">
        <div class="kingster-mobile-header-container kingster-container clearfix">
            <div class="kingster-logo  kingster-item-pdlr">
                <div class="kingster-logo-inner">

                    <div class="col-md-4">
                        <a class="" href="/OricCOVID/Home"><img src="~/wwwroot/Image/oric/ORICLOGOFINAL_100x100.png" /></a>

</div>
                 @*   <a class="" href="index.html"><img src="~/wwwroot/Image/oric/ORICLOGOFINAL.png" style="height: 150px; margin-left: 100px;" /></a>*@
                </div>
            </div>
            <div class="kingster-mobile-menu-right">
                <div class="kingster-main-menu-search" id="kingster-mobile-top-search"><i class="fa fa-search"></i></div>
                <div class="kingster-top-search-wrap">
                    <div class="kingster-top-search-close"></div>
                    <div class="kingster-top-search-row">
                        <div class="kingster-top-search-cell">
                            <form role="search" method="get" class="search-form" action="#">
                                <input type="text" class="search-field kingster-title-font" placeholder="Search..." value="" name="s">
                                <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                <input type="submit" class="search-submit" value="Search">
                                <div class="kingster-top-search-close"><i class="icon_close"></i></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="kingster-mobile-menu">
                    <a class="kingster-mm-menu-button kingster-mobile-menu-button kingster-mobile-button-hamburger" href="#kingster-mobile-menu"><span></span></a>
                    <div class="kingster-mm-menu-wrap kingster-navigation-font" id="kingster-mobile-menu" data-slide="right">
                        <ul id="menu-main-navigation" class="m-menu">
                            <li class="menu-item menu-item-home current-menu-item menu-item-has-children">
                                <a href="index.html">Home</a>
                               
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="about-us.html">About KU</a></li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="blog-full-right-sidebar-with-frame.html">Blog</a>
                                    
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Contact</a>
                                    
                                    </li>
                                 
                                    
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="bachelor-of-science-in-business-administration.html">Academics</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-has-children">
                                        <a>Undergraduate</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="bachelor-of-science-in-business-administration.html">Business Administration</a></li>
                                            <li class="menu-item"><a href="school-of-law.html">School Of Law</a></li>
                                            <li class="menu-item"><a href="engineering.html">Engineering</a></li>
                                            <li class="menu-item"><a href="medicine.html">Medicine</a></li>
                                            <li class="menu-item"><a href="art-science.html">Art &#038; Science</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Graduate Program</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="hospitality-management.html">Hospitality Management</a></li>
                                            <li class="menu-item"><a href="physics.html">Physics</a></li>
                                            <li class="menu-item"><a href="#">Chemistry</a></li>
                                            <li class="menu-item"><a href="#">Music</a></li>
                                            <li class="menu-item"><a href="#">Computer Science</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Resources</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="bachelor-of-science-in-business-administration.html">Department Page</a></li>
                                            <li class="menu-item"><a href="finance.html">Major Page</a></li>
                                            <li class="menu-item"><a href="finance-faculty.html">Faculty Page</a></li>
                                            <li class="menu-item"><a href="john-hagensy-phd.html">Single Instructor</a></li>
                                            <li class="menu-item"><a href="introduction-to-financial-accounting.html">Single Course</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="#">Logo</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="apply-to-kingster.html">Admissions</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="apply-to-kingster.html">Apply To Kingster</a></li>
                                    <li class="menu-item"><a href="campus-tour.html">Campus Tour</a></li>
                                    <li class="menu-item"><a href="scholarships.html">Scholarships</a></li>
                                    <li class="menu-item"><a href="athletics.html">Athletics</a></li>
                                    <li class="menu-item"><a href="give-to-kingster.html">Give To Kingster</a></li>
                                    <li class="menu-item"><a href="alumni.html">Alumni</a></li>
                                    <li class="menu-item"><a href="event-calendar.html">Event Calendar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Courses</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="course-list-1.html">Course List 1</a></li>
                                    <li class="menu-item"><a href="course-list-2.html">Course List 2</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="athletics.html">Athletics</a></li>
                            <li class="menu-item"><a href="university-life.html">University Life</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>