
<div class="kingster-mobile-header-wrap">
    <div class="kingster-mobile-header kingster-header-background kingster-style-slide kingster-sticky-mobile-navigation " id="kingster-mobile-header">
        <div class="kingster-mobile-header-container kingster-container clearfix">
            <div class="kingster-logo  kingster-item-pdlr">
                <div class="kingster-logo-inner">
                  
                    <a class="" href="index.html"><img src="~/wwwroot/Image/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="kingster-mobile-menu-right">
                <div class="kingster-main-menu-search" id="kingster-mobile-top-search"><i class="fa fa-search"></i></div>
                <div class="kingster-top-search-wrap">
                    <div class="kingster-top-search-close"></div>
                    <div class="kingster-top-search-row">
                        <div class="kingster-top-search-cell">
                            <form role="search" method="get" class="search-form" action="#">
                                <input type="text" class="search-field kingster-title-font" placeholder="Search..." value="" name="s">
                                <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                <input type="submit" class="search-submit" value="Search">
                                <div class="kingster-top-search-close"><i class="icon_close"></i></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="kingster-mobile-menu">
                    <a class="kingster-mm-menu-button kingster-mobile-menu-button kingster-mobile-button-hamburger" href="#kingster-mobile-menu"><span></span></a>
                    <div class="kingster-mm-menu-wrap kingster-navigation-font" id="kingster-mobile-menu" data-slide="right">
                        <ul id="menu-main-navigation" class="m-menu">
                            <li class="menu-item menu-item-home current-menu-item menu-item-has-children">
                                <a href="index.html">Home</a>
                               
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="about-us.html">About KU</a></li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="blog-full-right-sidebar-with-frame.html">Blog</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-has-children">
                                                <a href="blog-full-right-sidebar-with-frame.html">Blog Full</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="blog-full-right-sidebar-with-frame.html">Blog Full Right Sidebar With Frame</a></li>
                                                    <li class="menu-item"><a href="blog-full-left-sidebar-with-frame.html">Blog Full Left Sidebar With Frame</a></li>
                                                    <li class="menu-item"><a href="blog-full-both-sidebar-with-frame.html">Blog Full Both Sidebar With Frame</a></li>
                                                    <li class="menu-item"><a href="blog-full-right-sidebar.html">Blog Full Right Sidebar</a></li>
                                                    <li class="menu-item"><a href="blog-full-left-sidebar.html">Blog Full Left Sidebar</a></li>
                                                    <li class="menu-item"><a href="blog-full-both-sidebar.html">Blog Full Both Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="blog-grid-3-columns-no-space.html">Blog Grid</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="blog-grid-2-columns.html">Blog Grid 2 Columns</a></li>
                                                    <li class="menu-item"><a href="blog-grid-3-columns.html">Blog Grid 3 Columns</a></li>
                                                    <li class="menu-item"><a href="blog-grid-4-columns.html">Blog Grid 4 Columns</a></li>
                                                    <li class="menu-item"><a href="blog-grid-2-columns-no-space.html">Blog Grid 2 Columns No Space</a></li>
                                                    <li class="menu-item"><a href="blog-grid-3-columns-no-space.html">Blog Grid 3 Columns No Space</a></li>
                                                    <li class="menu-item"><a href="blog-grid-4-columns-no-space.html">Blog Grid 4 Columns No Space</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item"><a href="standard-post-type.html">Single Post</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Contact</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="contact.html">Contact</a></li>
                                            <li class="menu-item"><a href="contact-2.html">Contact 2</a></li>
                                            <li class="menu-item"><a href="contact-3.html">Contact 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="portfolio-3-columns.html">Portfolio</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-has-children">
                                                <a>Portfolio Grid</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 Columns</a></li>
                                                    <li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 Columns</a></li>
                                                    <li class="menu-item"><a href="portfolio-4-columns.html">Portfolio 4 Columns</a></li>
                                                    <li class="menu-item"><a href="portfolio-5-columns.html">Portfolio 5 Columns</a></li>
                                                    <li class="menu-item"><a href="portfolio-2-columns-with-frame.html">Portfolio 2 Columns With Frame</a></li>
                                                    <li class="menu-item"><a href="portfolio-3-columns-with-frame.html">Portfolio 3 Columns With Frame</a></li>
                                                    <li class="menu-item"><a href="portfolio-4-columns-with-frame.html">Portfolio 4 Columns With Frame</a></li>
                                                    <li class="menu-item"><a href="portfolio-2-columns-no-space.html">Portfolio 2 Columns No Space</a></li>
                                                    <li class="menu-item"><a href="portfolio-3-columns-no-space.html">Portfolio 3 Columns No Space</a></li>
                                                    <li class="menu-item"><a href="portfolio-4-columns-no-space.html">Portfolio 4 Columns No Space</a></li>
                                                    <li class="menu-item"><a href="portfolio-5-columns-no-space.html">Portfolio 5 Columns No Space</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a>Portfolio Masonry</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="portfolio-masonry-4-columns.html">Masonry 4 Columns</a></li>
                                                    <li class="menu-item"><a href="portfolio-masonry-3-columns.html">Masonry 3 Columns</a></li>
                                                    <li class="menu-item"><a href="portfolio-masonry-2-columns.html">Masonry 2 Columns</a></li>
                                                    <li class="menu-item"><a href="portfolio-masonry-4-columns-no-space.html">Masonry 4 Columns No Space</a></li>
                                                    <li class="menu-item"><a href="portfolio-masonry-3-columns-no-space.html">Masonry 3 Columns No Space</a></li>
                                                    <li class="menu-item"><a href="portfolio-masonry-2-columns-no-space.html">Masonry 2 Columns No Space</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item menu-item-has-children"><a class="sf-with-ul-pre" href="singleportfolio.html">Single Portfolio</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="gallery.html">Gallery</a></li>
                                    <li class="menu-item"><a href="price-table.html">Price Table</a></li>
                                    <li class="menu-item"><a href="maintenance.html">Maintenance</a></li>
                                    <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                                    <li class="menu-item"><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="bachelor-of-science-in-business-administration.html">Academics</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-has-children">
                                        <a>Undergraduate</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="bachelor-of-science-in-business-administration.html">Business Administration</a></li>
                                            <li class="menu-item"><a href="school-of-law.html">School Of Law</a></li>
                                            <li class="menu-item"><a href="engineering.html">Engineering</a></li>
                                            <li class="menu-item"><a href="medicine.html">Medicine</a></li>
                                            <li class="menu-item"><a href="art-science.html">Art &#038; Science</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Graduate Program</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="hospitality-management.html">Hospitality Management</a></li>
                                            <li class="menu-item"><a href="physics.html">Physics</a></li>
                                            <li class="menu-item"><a href="#">Chemistry</a></li>
                                            <li class="menu-item"><a href="#">Music</a></li>
                                            <li class="menu-item"><a href="#">Computer Science</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Resources</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="bachelor-of-science-in-business-administration.html">Department Page</a></li>
                                            <li class="menu-item"><a href="finance.html">Major Page</a></li>
                                            <li class="menu-item"><a href="finance-faculty.html">Faculty Page</a></li>
                                            <li class="menu-item"><a href="john-hagensy-phd.html">Single Instructor</a></li>
                                            <li class="menu-item"><a href="introduction-to-financial-accounting.html">Single Course</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="#">Logo</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="apply-to-kingster.html">Admissions</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="apply-to-kingster.html">Apply To Kingster</a></li>
                                    <li class="menu-item"><a href="campus-tour.html">Campus Tour</a></li>
                                    <li class="menu-item"><a href="scholarships.html">Scholarships</a></li>
                                    <li class="menu-item"><a href="athletics.html">Athletics</a></li>
                                    <li class="menu-item"><a href="give-to-kingster.html">Give To Kingster</a></li>
                                    <li class="menu-item"><a href="alumni.html">Alumni</a></li>
                                    <li class="menu-item"><a href="event-calendar.html">Event Calendar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Courses</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="course-list-1.html">Course List 1</a></li>
                                    <li class="menu-item"><a href="course-list-2.html">Course List 2</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="athletics.html">Athletics</a></li>
                            <li class="menu-item"><a href="university-life.html">University Life</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>